imutils==0.5.4
keras-applications==1.0.8
matplotlib==3.5.1
notebook==6.4.7
opencv-contrib-python==4.5.5.62
pip-chill==1.0.1
scikit-image==0.19.1
scikit-learn==1.0.2
tensorflow==2.7.0
tqdm==4.62.3
